<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folmulir</title>
</head>
<body>
    
    <style>
        form{
            text-align: center;
        }
        input[type="text"] {
            width: 300px; /* Lebar input */
            padding: 10px; /* Ruang dalam input */
            border: 1px solid #ccc; /* Garis pinggiran input */
            border-radius: 5px; /* Sudut bulat */
            font-size: 16px; /* Ukuran font */
            color: #333; /* Warna teks */
        }
    </style>
   
    <form>
        <h3>Sing Up Now</h3>
        
        <input type="text" id="phone" name="phone" placeholder="Email Address" >
        <br><br>
        <input type="text" id="phone" name="phone" placeholder="Name" >
        <br><br>
        <input type="text" id="phone" name="phone" placeholder="Username" >
        <br><br>
        <input type="text" id="phone" name="phone" placeholder="Password" >
        <br><br>
        <input type="text" id="phone" name="phone" placeholder="Repeat Password" >

        <br><br>
        <input type="submit" value="Sign Up">


        

    </form>
</body>
</html>